<!DOCTYPE html>
<html>
<head>
    <title>Peace!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
</head>
    
<body><div class="container-fluid">
    <a href="/projectlist"><button class="btn btn-link">See all ongoing projects</button></a>
    <br />
    <h1>Create an act of peace</h1>
    
        <form action="/createact" method="post" class="form-vertical">
            <label for="projectname">Project Name</label>
            <br />
            <textarea name="projectname" class="form-group required" cols="50" rows="1" maxlength="100" id="namefield"
                        placeholder="Make it something cool" value=""></textarea>
            <br />
            
            <label for="projectdescription">Project Description</label>
            <br />
            <textarea name="projectdescription" class="form-group required" cols="50" rows="15" maxlength="500" id="descriptionfield"
                        placeholder="Your vision for the project" value=""></textarea>
            <br />
            
            <label for="contactinfo">Contact Info</label>
            <br />
            <textarea name="contactinfo" class="form-group required" cols="50" rows="1" maxlength="100" id="emailfield"
                        placeholder="Who do we contact to get involved?" value=""></textarea>
            <br />

            <label for="focusarea">Focus Area</label>
            <br />
            
            {{with getFocusAreas}}
            
            {{template "focusareas" .}}
            
            {{end}}
            
            <img src="images/jonata-Water-bottle.png" alt="hi" id="carousel" style="height:48px;" />
            
            <br />
            <br />
            <br />
            <input class="btn btn-primary" type="submit" value="Submit your new project">
            
            
        </form>
    
</div>
    
    
    
    
    <script>
    $(document).ready(function () {
        var focusAreaJSON = $.parseJSON({{getFocusAreaJSON}});
        
        $("#descriptionfield").on("focus", function() {
            $(this).css("background", "linear-gradient(rgba(255,255,255,0.85),rgba(225,225,225,0.85)), url(http://i.imgur.com/gcb7a8q.jpg)")
                   .css("background-size", "100% 100%");
        });
        
        $("#focusareaselect").on("change", function() {
            $("#carousel").attr("src", "images/" + focusAreaJSON[$("#focusareaselect").val()]);
        });
    });
    </script>
    
    
    
    
    </body>
</html>




{{define "focusareas"}}
    <select name="focusarea" id="focusareaselect">
    {{range $key, $value := .}}
        <option value="{{$key}}">{{$key}}</option>
    {{end}}
    </select>
{{end}}
